/* Navbar Container */
.navbar {
    background-color: #171129; /* Background color for the navbar */
    color: #10bb7496; /* Text color for links and text in the navbar */
    padding: 10px 20px; /* Padding for the navbar content */
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Navbar Brand (e.g., Logo or App Name) */
  .navbar-brand {
    font-size: 1.5rem; /* Adjust the font size as needed */
    font-weight: bold;
    text-decoration: none;
    color: #fff; /* Text color for the brand */
  }
  
  /* Navbar Links (Navigation Menu) */
  .navbar-links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar-links li {
    margin-right: 20px; /* Adjust the spacing between menu items */
  }
  
  .navbar-links a {
    text-decoration: none;
    color: #fff; /* Text color for the links */
    font-weight: bold;
    transition: color 0.2s ease; /* Smooth color transition on hover */
  }
  
  .navbar-links a:hover {
    color: #f00; /* Change the text color on hover */
  }
  