/* Card.css */
body, h1, h2, p, button {
  margin: 0;
  padding: 0;
}
.card {

  overflow: hidden;
  text-overflow: ellipsis;
    transition: transform 0.3s ease-in-out;
    max-width: 500 px;
    background-color:#dad4d48a;
    display:flex;
    margin-right: 30px;
    padding-right: 5px;
    padding-bottom: 10px;
    margin-bottom: 50px;
  }
  .chip-content {
    padding: 14px;
    padding-left: 0px;
    padding-right: 150px;
    margin-left: 0px;
    margin-right: 40px;
  }
  .chip {
    font-size: 0.7rem;
    padding-top: 15px;
    background: linear-gradient(to right, #61b2e8, #a7bfe8);
    color: #fff;
    padding: 0.3rem 0.5rem;
    padding-left: 5px;
    border-radius: 5px;
    width: fit-content;
    text-transform: capitalize;
  }
  
  .card:hover {
    transform: scale(1.05);
  }
  
  .card-image {
    width: 100%;
    height:500px;
    max-height: 200px;
    object-fit: cover;
    border-top-left-radius: 15px; /* Rounded top-left corner */
    border-top-right-radius: 20px; /* Rounded top-right corner */
    margin-left: 0%;
    margin-right: 2px;
    padding-right: 17px;
    padding-left: 10px; }
  
  .card-content {
    margin-left: 0px;
    margin-right: 5px;
    padding-right: 40px;
  }
  
  .card-title {
    font-size: 17px;
    padding-left: 2px;
    padding-left: 0px;
    margin-left: 0px;
    padding-right: 10px;
    margin-bottom: -5px; /* Add margin at the bottom of the first div */
  }
  .desc-content{
    margin-top: -5px;
    margin-bottom: 5px;
    margin-left: -24px;
    margin-right: 5px;
    padding-right: 20px;
    padding-left: 2px;
  }
  .card-description {
    font-size: 12px;
    margin: 8px 0;
    margin-left: 0px;
    white-space: pre-line;

  }
  /* Style for the calendar info */
  .card .calendar-info {
    display: flex;
    justify-content: flex-start; /* Align items to the extreme left */
    padding-right: 100px;
    padding-left: -50px; 
    margin-left: -90px;/* Add right padding as needed */
  }
/* Style for the calendar text */
.card .calendar-text {
  font-size: 0.8em;
  color: #999; /* Adjust the color as needed */
}
.price-info {
  margin-top: 10px;
  margin-left: -170px;/* Add right padding as needed */
  /* Adjust the spacing as needed */
}

.price-text {
  font-size: 18px;
  font-weight: bold;
  color: #0a0a0a; /* Change the color to your preferred color */
}
  .card-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 8px 16px;
    cursor: pointer;
    width:47%;
    margin-right: 0px;
    margin-left: 150px;
    font-size: 16px;
    margin-bottom: 0px;
  }
  .card-bottom {
    display: flex;
    margin-bottom: 0px;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
  }
  
  .icon {
    margin-bottom: 0px;
    order: 1; /* Place icon on the left */
  }
  
  .button {
    order: 2; /* Place button on the right */
  }